{% extends "layout.twig" %}

    {% block title %}
        Product list
    {% endblock %}

{% block page_title %}
    Product list
{% endblock %}

{% block current_page_title %}Products list{% endblock %}
{% block content %}
    <ul class="listing row">
        {% for product in products %}
            <li class="col-md-6 col-xs-12 col-sm-6 col-12  mb-3 mt-3">
                <div class="card">
                    <figure>
                        {#alt attr fixed#}
                        <img class="card-img-top" src="/img/{{ product.image }}" alt="{{ product.name }}"/>
                        <figcaption>{{ product.name }}</figcaption>
                    </figure>
                    <div class="card-body">
                            <span>
                                {#SEO issue with multiple h1 @same page#}
                                {#<h1 class="card-title">{{ product.name }}</h1>#}
                                <h2 class="card-title pb-2">{{ product.name }}</h2>
                            </span>
                        <h6 class="card-text">{{ product.description | slice(0 , 100 ) ~"..." }}</h6>
                        <a class="btn btn-primary" href="/products/view/{{ product.id }}" title="View more">
                            View More
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}